.bott{
  border: solid;
  width:100px;
  font-family:Sigmar;
  font-size:50px;
}
.tito{
  font-weight:bold;
  font-family:Sigmar;
  font-size:100px;
  text-align: center;
}
.comand{
  margin-top: 250px;
  margin-right: 10px;
  text-align: right;
}
