.bott{
  border: none;
  color: red;
  font-family: Calibri;
  font-size: 20px;
  width: 500px;
  height: 100px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  background-image:url(https://see.fontimg.com/api/renderfont4/vmVwZ/eyJyIjoiZnMiLCJoIjo1NCwidyI6MTAwMCwiZnMiOjU0LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/Q2FjY2lhIGFsbCB1LWJvYXQ/ro-spritendo-semibold-beta.png);
  background-size: 100%;
}
.comand{
  margin-top: 250px;
  margin-right: 10px;
  text-align: right;
}
