.bott{
  border: solid;
  font-family:Sigmar;
  font-size:50px;
  text-align:right;
  margin-top:200px;
}
.tito{
  font-weight:bold;
  font-family:Sigmar;
  font-size:200px;
  text-align: center;
}
.comand{
  margin-top: 250px;
  margin-right: 10px;
  text-align: right;
}
